<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File MetaData</title>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/public/css/main.css" type="text/css" />
    <script src="/public/js/main.js"></script>
</head>
<body>
    <div class="container">
        <div>
        <main class='col-xs-12 jumbotron'>
            <header>
                <h1>File MetaData</h1>
            </header>
            <section>
                <form id="upload-form" method="post" enctype="multipart/form-data" action'/'>
                  <div class="form-group">
                    <label for="exampleInputEmail1">File Input</label>
                    <input class="form-control file" type="file" name="file">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </section>
            <section id="data-here"></section>
        </main>
        </div>
    </div>
</body>
</html>